
.diamond {
  position: relative;
  overflow: hidden;
  width: 35vw;
  height: 20vw;
  background-color: #fff;
  
  &__inner {
    position: absolute;
    left: 25%;
    top: -2vw;
    width: 15vw;
    height: 15vw;
    transform: rotate(-45deg);
    overflow: hidden;
    background: #ec174f;
    cursor: pointer;
  }
  
  &__text {
    transform: rotate(45deg);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15vw;
    padding-top: 12%;
    color: white;
  }
}